[includeIf "gitdir:~/code/HF/"]
	path = ~/.gitconfig_bitbucket

[includeIf "gitdir:~/code/personal/"]
	path = ~/.gitconfig_github

[credential]
	helper = cache --timeout=36000

[push]
	default = simple

[core]
	editor = vim
	autocrlf = false

[color]
	ui = true

[include]
	path = ~/.gitconfig_aliases
